<section id="members" class="bg-light-gray">
     <div class="container">
         <div class="row">
             <div class="col-lg-12 text-center">
                 <h2 class="section-heading">Lab Members</h2>
             </div>
         </div>
         <div class="row">
             <div class="col-sm-12 text-center">
             <h3>Primary Investigator</h3>
                 <div class="team-member">
                     <img class="mx-auto rounded-circle" src="img/team/{{ site.data.pi.img_id}}" alt="">
                     <h4>{{ site.data.pi.name }}</h4>
                     <p class="text-muted">{{ site.data.pi.position }}</p>
                     {% if member.hometown %}
                     <p class="text-muted"><i>{{ site.data.pi.hometown }}</i></p>
                     {% endif %}
                     {% if site.data.pi.interests %}
                     Interests:
                     <ul class="list-inline text-muted">
                         {% for interest in site.data.pi.interests %}
                         <li class="fa fa-angle-right">&nbsp;{{ interest }}</li><br>
                         {% endfor %}
                     </ul>
                     {% endif %}
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
            <h3>Techs & Staff</h3>
         {% for member in site.data.techs %}
         {% assign loopindex = forloop.index0 | modulo: 3 %}
         {% if loopindex == 0 %}
         {% if forloop.first == false %}
         </div>
         {% endif %}
         <div class="row">
             <div class="col-sm-4 col-sm-offset-1half">
         {% else %}
             <div class="col-sm-4">
         {% endif %}
                 <div class="team-member">
                     <img class="mx-auto rounded-circle" src="img/team/{{ member.img_id}}" alt="">
                     <h4>{{ member.name }}</h4>
                     <p class="text-muted">{{ member.position }}</p>
                     {% if member.hometown %}
                     <p class="text-muted"><i>{{ member.hometown }}</i></p>
                     {% endif %}
                     {% if member.interests %}
                     Interests:
                     <ul class="list-inline text-muted">
                         {% for interest in member.interests %}
                         <li class="fa fa-angle-right">&nbsp;{{ interest }}</li><br>
                         {% endfor %}
                     </ul>
                     {% endif %}
                 </div>
             </div>
         {% if forloop.last == true %}
         </div>
         {% endif %}
         {% endfor %}

         <div class="row">
             <div class="col-sm-12 text-center">
             <h3>Post-Doctoral Fellows</h3>
          {% for member in site.data.postdocs %}
          {% assign loopindex = forloop.index0 | modulo: 3 %}
          {% if loopindex == 0 %}
          {% if forloop.first == false %}
          </div>
          {% endif %}
          <div class="row">
              <div class="col-sm-4 col-sm-offset-1half">
          {% else %}
              <div class="col-sm-4">
          {% endif %}
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="img/team/{{ member.img_id}}" alt="">
                      <h4>{{ member.name }}</h4>
                      <p class="text-muted">{{ member.position }}</p>
                      {% if member.hometown %}
                      <p class="text-muted"><i>{{ member.hometown }}</i></p>
                      {% endif %}
                      {% if member.interests %}
                      Interests:
                      <ul class="list-inline text-muted">
                          {% for interest in member.interests %}
                          <li class="fa fa-angle-right">&nbsp;{{ interest }}</li><br>
                          {% endfor %}
                      </ul>
                      {% endif %}
                  </div>
              </div>
          {% if forloop.last == true %}
          </div>
          {% endif %}
          {% endfor %}

          <div class="row">
              <div class="col-sm-12 text-center">
              <h3>Graduate Students</h3>
           {% for member in site.data.grad_students %}
           {% assign loopindex = forloop.index0 | modulo: 3 %}
           {% if loopindex == 0 %}
           {% if forloop.first == false %}
           </div>
           {% endif %}
           <div class="row">
               <div class="col-sm-4 col-sm-offset-1half">
           {% else %}
               <div class="col-sm-4">
           {% endif %}
                   <div class="team-member">
                       <img class="mx-auto rounded-circle" src="img/team/{{ member.img_id}}" alt="">
                       <h4>{{ member.name }}</h4>
                       <p class="text-muted">{{ member.position }}</p>
                       {% if member.hometown %}
                       <p class="text-muted"><i>{{ member.hometown }}</i></p>
                       {% endif %}
                       {% if member.interests %}
                       Interests:
                       <ul class="list-inline text-muted">
                           {% for interest in member.interests %}
                           <li class="fa fa-angle-right">&nbsp;{{ interest }}</li><br>
                           {% endfor %}
                       </ul>
                       {% endif %}
                   </div>
               </div>
           {% if forloop.last == true %}
           </div>
           {% endif %}
           {% endfor %}
            <div class="row">
                <a href="{{ site.url }}/alumni/"><h4>Click for a list of past members</h4></a>
            </div>
    </div>
</section>
