<section class="bg-light" id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Publications</h2>
      </div>
    </div>
    <div class="row">
    {% for pub in site.data.papers %}
    {% assign loopindex = forloop.index0 | modulo: 3 %}
    {% if loopindex == 0 %}
    {% if forloop.first == false %}
    </div>
    {% if forloop.last == false %}
    <div class="row">
    {% endif %}
    {% endif %}
    {% endif %}
            <h4><a href="{{ site.url }}/{{ pub.link }}">{{ pub.title }}</a></h4>
    {% endfor %}
    </div>
    </div>


    </div>
  </div>
</section>
