<section class="bg-light" id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Publications</h2>
        <h3 class="section-subheading text-muted">Click for PDF</h3>
      </div>
    </div>
        <div class="row">
        {% for pub in site.data.papers limit:5 %}
            {% if pub.link %}
            <p><strong><a href="{{ site.url }}/{{ pub.link }}">{{ pub.author }} ({{ pub.year }})</a></strong> {{ pub.title }}</p>
            {% else %}
            <p><strong><a href="{{ pub.alt_link }}">{{ pub.author }} ({{ pub.year }})</a></strong> {{ pub.title }}</p>
            {% endif %}
        {% endfor %}
        </div>
    <br>
    <h4><a href="{{ site.url }}/publications/">All Publications</a></h4>
  </div>
</section>
