---
layout: page
title: 'Publications'
permalink: /publications/
---
Click for link or pdf download.
<br>
<br>
<div class="container">
    {% for pub in site.data.papers %}
      {% assign currentdate = pub.year %}
      {% if currentdate != date %}
        <h3>{{ currentdate }}</h3>
        {% assign date = currentdate %}
      {% endif %}
      {% if pub.alt_link %}
        <a href="{{ pub.alt_link }}"><strong>{{ pub.author }}</strong> {{ pub.title }}</a><br>
      {% elsif pub.link %}
        <a href="{{ site.url }}/{{ pub.link }}"><strong>{{ pub.author }}</strong> {{ pub.title }}</a> (PDF)<br>
      {% else %}
        <strong>{{ pub.author }}</strong> {{ pub.title }}<br>
      {% endif %}
    {% endfor %}
</div>
