name: CI

on: 
  push:
    branches: 
      - master
  schedule:
    # * is a special character in YAML so you have to quote this string
    # set to run every month
    - cron:  '0 0 1 * *'

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: '3.6'
    
    - name: Install dependancies
      run: |
        python -m pip install --upgrade pip
        pip install biopython
        
    - name: Update publications
      run: |
        python update_papers.py
  
        
    - uses: stefanzweifel/git-auto-commit-action@v4.1.2
      with:
        commit_message: Update publications
        branch: ${{ github.head_ref }}
        commit_user_name: GitHub Actions
        commit_user_email: action@github.com
        commit_author: Author <actions@github.com>
